.pickerContainer {
  width: 3rem;
  height: 3rem;
  border: none;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 100%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
.deleteDiv {
  color: transparent;
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.deleteDiv:hover,
.pickerContainer:hover ~ .deleteDiv {
  color: black;
}
